<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALS_Data</key>
	<data>
	AKE=
	</data>
	<key>BootCampHD</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAUAwUGAAAAf/8EAA==
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SmcFlasherResult</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAA==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Xw==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	8A==
	</data>
	<key>Test_ALS_Data</key>
	<data>
	AQA=
	</data>
	<key>backlight-level</key>
	<data>
	2Qo=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	j4KsBQAAAAAzFIwpN+f6BQ==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	j4KsBQAAMxSMKTfn+gU=
	</data>
	<key>boot-args</key>
	<string></string>
	<key>boot-gamma</key>
	<data>
	EAYAAN+cAAAAAAAAwgAAAAAAAAAMAAEGTwQDDl8MySdZLFRQ5FpXXFtnXXYff6OMHJYr
	rUC5scSGz3TQ99j995Tz//zo+A4AAQesBAMOFwtQQxZGV1/CYuGHoIenneyeqabNp667
	scCxxXvKM8+w0vXWmdq66T3q/fRw9f/80voQAAIIJwQEEO8JTz6PMxJK1zxVV5RIIoh4
	biaagXqttECR7rp1lbDABZ3zzmaru+zuzf32n9v++YTh/vuH6P/9//I=
	</data>
	<key>efi-apple-payload0</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkZGNzUxNThGLTAz
	OEItNDlFRi05OEQwLUE0RTNFRjg5REI4ODwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xTTUNcTWFjLTdERjIxQ0IzRUQ2OTc3RTUuc21jPC9zdHJpbmc+PC9kaWN0
	PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload0-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAUcAQEGAAAAAxIKAAAAAAAAAAQBKgABAAAAKAAAAAAAAAAA
	QAYAAAAAAI8Vdf+LA+9JmNCk4++J24gCAgQEZgBcAEUARgBJAFwAQQBQAFAATABFAFwA
	VQBQAEQAQQBUAEUAUgBTAFwAUwBNAEMAXABNAGEAYwAtADcARABGADIAMQBDAEIAMwBF
	AEQANgA5ADcANwBFADUALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-payload1</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkZGNzUxNThGLTAz
	OEItNDlFRi05OEQwLUE0RTNFRjg5REI4ODwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xTTUNcZmxhc2hlcl9iYXNlLnNtYzwvc3RyaW5nPjwvZGljdD48L2FycmF5
	PgA=
	</data>
	<key>efi-apple-payload1-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAUcAQEGAAAAAxIKAAAAAAAAAAQBKgABAAAAKAAAAAAAAAAA
	QAYAAAAAAI8Vdf+LA+9JmNCk4++J24gCAgQEVgBcAEUARgBJAFwAQQBQAFAATABFAFwA
	VQBQAEQAQQBUAEUAUgBTAFwAUwBNAEMAXABmAGwAYQBzAGgAZQByAF8AYgBhAHMAZQAu
	AHMAbQBjAAAAf/8EAA==
	</data>
	<key>efi-apple-payload2</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkZGNzUxNThGLTAz
	OEItNDlFRi05OEQwLUE0RTNFRjg5REI4ODwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xTTUNcZmxhc2hlcl91cGRhdGUuc21jPC9zdHJpbmc+PC9kaWN0PjwvYXJy
	YXk+AA==
	</data>
	<key>efi-apple-payload2-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAUcAQEGAAAAAxIKAAAAAAAAAAQBKgABAAAAKAAAAAAAAAAA
	QAYAAAAAAI8Vdf+LA+9JmNCk4++J24gCAgQEWgBcAEUARgBJAFwAQQBQAFAATABFAFwA
	VQBQAEQAQQBUAEUAUgBTAFwAUwBNAEMAXABmAGwAYQBzAGgAZQByAF8AdQBwAGQAYQB0
	AGUALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-payload3</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkZGNzUxNThGLTAz
	OEItNDlFRi05OEQwLUE0RTNFRjg5REI4ODwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xTTUNcTWFjLTdERjIxQ0IzRUQ2OTc3RTUuZXBtPC9zdHJpbmc+PC9kaWN0
	PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload3-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAUcAQEGAAAAAxIKAAAAAAAAAAQBKgABAAAAKAAAAAAAAAAA
	QAYAAAAAAI8Vdf+LA+9JmNCk4++J24gCAgQEZgBcAEUARgBJAFwAQQBQAFAATABFAFwA
	VQBQAEQAQQBUAEUAUgBTAFwAUwBNAEMAXABNAGEAYwAtADcARABGADIAMQBDAEIAMwBF
	AEQANgA5ADcANwBFADUALgBlAHAAbQAAAH//BAA=
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkZGNzUxNThGLTAz
	OEItNDlFRi05OEQwLUE0RTNFRjg5REI4ODwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMxPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxNQkE2MV8wMDk5X0IxMl9MT0NLRUQuc2NhcDwvc3RyaW5nPjwvZGljdD48
	L2FycmF5PgA=
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkZGNzUxNThGLTAz
	OEItNDlFRi05OEQwLUE0RTNFRjg5REI4ODwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5JT0VGSVNob3J0Rm9ybTwva2V5Pjx0cnVlLz48a2V5PkJMTGFzdEJTRE5hbWU8L2tl
	eT48c3RyaW5nPmRpc2swczE8L3N0cmluZz48L2RpY3Q+PGRpY3Q+PGtleT5JT0VGSURl
	dmljZVBhdGhUeXBlPC9rZXk+PHN0cmluZz5NZWRpYUZpbGVQYXRoPC9zdHJpbmc+PGtl
	eT5QYXRoPC9rZXk+PHN0cmluZz5cRUZJXHJlZmluZFxyZWZpbmRfeDY0LmVmaTwvc3Ry
	aW5nPjwvZGljdD48L2FycmF5PgA=
	</data>
	<key>efi-boot-device-data</key>
	<data>
	BAEqAAEAAAAoAAAAAAAAAABABgAAAAAAjxV1/4sD70mY0KTj74nbiAICBAQ6AFwARQBG
	AEkAXAByAGUAZgBpAG4AZABcAHIAZQBmAGkAbgBkAF8AeAA2ADQALgBlAGYAaQAAAH//
	BAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	SkpI7J2YIE1hY0Jvb2sgQWly
	</data>
	<key>prev-lang:kbd</key>
	<data>
	a286MA==
	</data>
</dict>
</plist>
